<p class="text-center">Http Module with Firebase</p>
<form [formGroup]='myForm'(ngSubmit)="onSubmit()" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"formControlName="email">
      <div style="color: red;" *ngIf="myForm.invalid && myForm.dirty || myForm.touched">
        Please provide a email.
      </div>
    </div>
    
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"formControlName="password">
      <div style="color: red;" *ngIf="myForm.invalid && myForm.dirty || myForm.touched">
        Please provide a password.
      </div>
    </div>
    
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-outline-primary w-100">Submit</button>
  </form>